body { /* BASC added */
  background:   #000;
  color:        #bbb;
}
.test-result-container {
  background:   #000;
  border:       2px solid #bbb;
  color:        #bbb;
  font:         normal 15px FreeSans, Helvetica, Arial, sans-serif;
  overflow:     hidden;
  position:     absolute;
  right:        30px;
  top:          30px;
  width:        640px;

  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.test-result-container p,
.test-result-container ul,
.test-result-container li {
  list-style:   circle outside;
  margin:       0;
  padding:      0;
}

.test-result-container .report {
  border-collapse: collapse;
  margin:       0;
  padding:      0;
}

.test-result-container .report th:first-child {
  -webkit-border-top-left-radius: 14px;
     -moz-border-radius-topleft:  14px;
          border-top-left-radius: 14px;
}

.test-result-container .report th:last-child {
  -webkit-border-top-right-radius: 14px;
     -moz-border-radius-topright:  14px;
          border-top-right-radius: 14px;
}

.test-result-container .report th,
.test-result-container .report td {
  border-left:  1px solid #333;
  border-right: 1px solid #333;
  font-weight:  bold;
  padding:      0 8px;
  text-align:   right;
  width:        144px;
}

.test-result-container .report th:first-child,
.test-result-container .report td:first-child {
  border-left: none;
}

.test-result-container .report th:last-child,
.test-result-container .report td:last-child {
  border-right: none;
}

.test-result-container .report th {
  background:   #111;
  padding:      4px 8px;
}

.test-result-container .report td {
  color:        #666;
  font-size:    300%;
}

.test-result-container .light {
  font-size:    0;
  height:       6px;
  overflow:     hidden;
}
.test-result-container .light-pending {
  background:   #fc6;
}
.test-result-container .light-passed {
  background:   #6c3;
}
.test-result-container .light-failed {
  background:   #e40;
}

.test-result-container .user-agent {
  background:   #000; /* BSAC was 444 */
  color:        #bbb; /* BSAC was fff */
  font-size:    80%;
  list-style:   none;
  padding:      4px 12px;
}

.test-result-container .specs .spec,
.test-result-container .specs .test {
  position:     relative;
}

.test-result-container .specs .spec-name,
.test-result-container .specs .test-name {
  cursor:       pointer;
}

.test-result-container .spec-name {
  border-top:   1px solid #222;
  cursor:       pointer;
  font-weight:  bold;
}

.test-result-container .specs ul {
  margin-left:  32px;
}

.test-result-container .specs p {
  padding:      4px 12px;
}

.test-result-container .specs .runner {
  background:   url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEsSURBVDjLY/j//z8DJZhhmBuQvdj8a+p8w//xc3U5yTIgeb7h18bNUf/DZ2j8958qz0nQgPyltv9zF5v/TV9o/Ddxrv7fmvWh/1ednvi/ZLX/f9d+8b+23YI8eA0AOvn/hnPT/q89OwWsccXpCf8n7Cn5v/B41/+MpW7/TdvZ/+o2M/LjNADoZLDmvl35/zt3ZP9v3Zb2v2Fz4v+mren/Zxxq/h+zwOa/aj3DH5wGRM/W/L/y1IT/S0/0/l94rOv/vKMdQEOy/k8/1PQ/banHf8VahlfSlQwGOA0InK74z3Oi9D/nftF/1t38/+LmW/2fdrDhf9Jit//ytQzPJSsZtEiKBe1mxq/xC53/y1czPAFqVic5GoFO/ipXzfxftJJBkeyUKFzOwDm48wIAh5XH+g7drOwAAAAASUVORK5CYII=) center center no-repeat;
  cursor:       pointer;
  display:      block;
  float:        left;
  height:       0;
  margin-right: 6px;
  overflow:     hidden;
  padding-top:  18px;
  width:        16px;
}

.test-result-container .specs .fault {
  font-size:    75%;
}

.test-result-container .specs .failed {
  color:        #e40;
}

.test-result-container .specs .closed ul.children {
  display:      none;
}

.test-result-container .test .stats {
  display:      none;
}

.test-result-container .stats {
  float:        right;
  list-style:   none;
  right:        0;
  top:          0;
}

.test-result-container .stats li {
  border-left:  1px solid #111;
  display:      block;
  float:        left;
  list-style:   none;
  padding:      4px 8px;
  width:        64px;
}

.test-result-container .stats .number {
  color:        #999;
  font-weight:  bold;
}

.test-result-container .stats .label {
  color:        #666;
  font-size:    80%;
}

.test-result-container .passed .number {
  color:        #6c3;
}

.test-result-container .summary {
  border-top:   1px solid #666;
  color:        #999;
  margin:       0;
  padding:      4px 12px;
}
