<form method="post" action="/" class="{{formClass}}">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Sign up">
</form>

